# Gitignore file

*~
*.so
*.o
*.dylib
*.tgz
*.gz
*.sim
*.tra
*.orig
*.rej
*.dSYM*
*.killcosimas.bash
.DS_Store
callgrind.*
*.rsp
*.erm
python-env
*.idea
.idea
comptontracks/__pycache__
comptontracks/.idea
comptontracks/.idea/workspace.xml

