# Required software

# tensorflow -- installed via setup.sh
# torch -- installed via setup.sh
# rootpy -- installed via setup.sh

pyyaml
scipy
matplotlib
jupyterlab
networkx

beautifulsoup4
soupsieve
defusedxml
cffi
Pillow
ipython
pip
attrs
wheel
tornado
Jinja2
rsa
pyasn1
pyzmq
pexpect
comm
traitlets
gast
numpy
h5py
parso
jedi
pytz
anyio
sniffio
python-dateutil
Babel
setuptools
keras
six
pandas
wrapt
requests
astunparse
tensorboard
psutil
urllib3
webencodings
bleach
tinycss2
cachetools
certifi
MarkupSafe
debugpy
decorator
Pygments
packaging
backcall
pickleshare
wcwidth
mistune
Markdown
ptyprocess
nbformat
nbclient
nbconvert
fastjsonschema
jsonschema
notebook
Send2Trash
terminado
nbclassic
oauthlib
idna
Werkzeug
aiosqlite
asttokens
executing
ipykernel
pandocfilters
pycparser
pyparsing
termcolor
websocket-client
pyrsistent
cycler
kiwisolver
zipp
flatbuffers
platformdirs
aiofiles
json5
scikit-learn